build avalanchego:
  extends: .generic-build
  variables:
    FULLNODE: avalanchego
    VERSION: "1_14_0"

publish avalanchego:
  extends: .generic-publish
  variables:
    FULLNODE: avalanchego
    VERSION: "1_14_0"
